/* Header styling present in the main.css file */

/* Coffee detail page styling */
.coffee-container {
    max-width: 490px;
    margin: 0 auto;
    padding: 20px;
}

.coffee-content {
    margin-bottom: 20px;
}

.coffee-content__image img {
    max-width: 300px;
    border-radius: 3%;
}

.coffee-content__info h1 {
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
}

.coffee-content__description {
    margin-top: 24px;
}

.coffee-content__description h3 {
    margin: 10px 0;
}

.coffee-content__description p {
    line-height: 1.5;
}

/* Opmaak voor de ingrediëntenlijst */
.coffee-content__ingredients {
    margin-top: 24px;
}

.coffee-content__ingredients h3 {
    margin: 10px 0;
}

.coffee-content__ingredients ul {
    list-style-type: disc;
    padding-left: 20px;
}

.coffee-content__ingredients li {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Opmaak voor de reserveersectie */
.coffee-content__reservation {
    margin-top: 24px;
}

.coffee-content__reservation p {
    margin: .3125rem 0;
}

.coffee-content__reservation a {
    display: inline-block;
    background-color: transparent;
    color: #964B00;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #964B00;
    margin-top: 10px;
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.coffee-content__reservation a:hover {
    background-color: #FFFDD0;
    color: #E2725B;
}

/* Opmaak voor de reviewssectie */
.coffee-content__reviews {
    margin-top: 24px;
}

.coffee-content__reviews h3 {
    margin: 10px 0;
}

.coffee-content__reviews__review {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.coffee-content__reviews__review__info h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}

.coffee-content__reviews__review__info p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: 0.9rem;
}

/* Opmaak voor de relevante dranken sectie */
.coffee-content__relevant {
    margin-top: 24px;
}

.coffee-content__relevant h3 {
    margin: 10px 0;
}

.coffee-content__relevant__drinks {
    display: flex;
    flex-wrap: nowrap;
}

.coffee-content__relevant__drinks__drink {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 10px;
    margin-right: 1.5rem;
}

.coffee-content__relevant__drinks__drink a {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: #E2725B;
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}

.coffee-content__relevant__drinks__drink a:hover {
    color: #FFE7B3;
}

.coffee-content__relevant__drinks__drink img {
    max-width: 100%;
    border-radius: 3%;
}

.coffee-content__relevant__drinks__drink h4 {
    font-size: 16px;
    margin: 0;
}

/* Footer styling present in the main.css file */