/* Header styling */
header {
    background-color: #f2f2f2;
    padding-bottom: 0.625rem;
    text-align: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    max-width: 25%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: .625rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Main styling */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}

main {
    margin-top: 1.25rem;
}

.our-dishes {
    margin-bottom: 0.5rem;
}

/* picture carousel styling */
.carousel {
    width: 100%;
    height: 633px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.slides {
    display: flex;
}

.slide {
    position: relative;
    flex: 0 0 calc(100% / 3);
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.slide:hover img {
    transform: scale(1.1);
}

.slide .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: left;
    font-size: 14px;
}

.slide:hover .caption {
    opacity: 1;
}

/* Scrollbar styling */
.carousel::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.carousel::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.image-container {
    position: relative;
    display: block;
    margin-top: 1.5rem;
    padding: 0;
}

.image-container img {
    width: 100vw;
    height: auto;
    margin: 0;
    border-radius: 0.3rem;
}


.scroll-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.scroll-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.scroll-text:hover {
    opacity: 1;
}

.scroll-text button {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}

.scroll-text:hover {
    filter: brightness(60%);
}

/* About us section styling */
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: .625rem 1.5rem;
}

.about-us h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.about-us p {
    margin: 0;
    padding: 0;
    text-align: center;
}


/* Footer styling */
/* Algemene stijl voor de footer */
footer {
  background-color: #f2f2f2;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Stijl voor het logo */
.footer-logo {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.footer-logo img {
  max-width: 35%;
  pointer-events: none;
}

/* Stijl voor de navigatie in de linkersectie */
.footer-info__left__nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-info__left__nav li {
  margin-right: 10px;
}

.footer-info__left__nav a {
  text-decoration: none;
  color: #333;
}

.footer-info__left__hours,
.footer-info__right__contact {
  margin-top: 1.25rem;
}

/* Stijl voor de openingsuren in de linkersectie */
.footer-info__left__hours h3 {
  font-size: 16px;
  margin-top: 0;
}

/* Stijl voor de rechtersectie van de footer */
.footer-info__right {
  display: flex;
  justify-content: flex-end;
}

/* Stijl voor het adres in de rechtersectie */
.footer-info__right__adress h3 {
  font-size: 16px;
  margin-top: 0;
}

/* Stijl voor de contactinformatie in de rechtersectie */
.footer-info__right__contact h3 {
  font-size: 16px;
  margin-top: 0;
}

.footer-info__right__contact a {
  color: #333;
}



/* Media queries */
@media screen and (max-width: 768px) {
    .carousel {
        height: 400px;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    .carousel {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .slide {
        flex: 0 0 calc(100% / 2);
    }
}

@media screen and (max-width: 480px) {
    .carousel {
        height: 300px;
    }

    .slide {
        flex: 0 0 calc(100% / 1);
    }
}

@media screen and (max-width: 320px) {
    .carousel {
        height: 200px;
    }
}